/*-------------------------
    Simple reset
--------------------------*/


.comment{

      font-size: 10px;
        font-weight: 300;
        color:#7F7F7F;
}


input[type=radio]{
display:none;

}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.house-cc{opacity: .9;}
.cc-selector input:checked +.house-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.house-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:230px;height:150px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.house-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.toggle{
    
    text-align: right;
}



